<div class = "container">

    <div>
        <h2>Menu</h2>
        <hr>
    </div>

    <div>
        <mat-list>
            <mat-list-item *ngFor = "let dish of dishes">

                <img mat-list-avatar src ={{dish.image}} alt ={{dish.name}}>
                <h1 mat-line>{{dish.name | uppercase}}</h1>
                <p mat-line><span>{{dish.description}}</span></p>

            </mat-list-item>
        </mat-list>  
    </div>
    <app-dish-detail>
        
    </app-dish-detail>

    <!-- <div *ngIf = "selectedDish">

        <mat-card>
            
            <mat-card-header>
                <mat-card-title><h3>{{ selectedDish.name | uppercase}}</h3></mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{selectedDish.image}}" alt="{{selectedDish.name}}">
            <mat-card-content>
                <p> {{ selectedDish.description }}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    
    </div> -->

</div>